:root {
  --primary-color: #f5c518;
  --soft-white: rgb(218, 218, 218)
}

#container {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

h1 {
  color: var(--soft-white);
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  margin: 0px 10px;
}

nav li button {
  display: inline-block;
  color: #f5c518;
  background-color: transparent;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  border: none;
  cursor : pointer;

  outline: none;
  
  transition: 400ms;
}

nav li button:hover {
  transform: translateY(-5px);
  text-decoration: none;
}

.games .game li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 550px;
  max-height: 110px;
  
  background-color: black;
  color: var(--soft-white);
  padding-right: 15px; 
  
  margin: 20px 0;
  border-radius: 20px;
}

.games .game li img {
  height: 110px;
  width: 15%;
}

.games .game li button,
.update-field button {
  background-color: black;
  color: var(--soft-white);

  padding: 8px;

  text-align: center;
  font-size: 18px;

  border-radius: 8px;
  box-shadow: 0px 0px 15px var(--primary-color);

  border: 2px solid #fad653;
  cursor: pointer;

  transition: 400ms;
  outline: none;
}

.games .game li button:hover {
  color: black;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 30px var(--primary-color);
}

.update-field {
  box-shadow: 0px 0px 5px var(--primary-color);
  color: var(--soft-white);
  background-color: black;

  width: 400px;
  max-width: 400px;
  min-height: 260px;
  padding: 40px;

  font-size: 20px;
  text-align: center;

  border-radius: 8px;
  margin-top: 20px;
}

.update-field #update {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.update-field #update p {
  margin: 20px auto;
  font-size: 24px;
}

.update-field #update input,
.update-field #update textarea {
  width: 300px;
  height: 25px;

  max-width: 100%;

  font-size: 16px;

  background-color: black;
  color: var(--soft-white);

  border: 1px solid var(--primary-color);
  border-radius: 8px;

  margin: 0 auto 20px;
  padding: 15px;

  outline:none;
}