#main {  
  margin: 50px 50px;
}

.games-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.games-grid .card li {
  color: rgb(218, 218, 218);
  background-color: rgb(0, 0, 0);
  list-style: none;

  margin: 0 20px;

  /* border: 2px solid rgb(196, 184, 23); */
  border-radius: 8px;

  height: 425px;
  width: 250px;
  
  padding: 10px 10px 0px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  box-shadow: 0px 0px 4px #f5c518;

  text-align: center;

  transition: 200ms; /* minha ideia */
}

.games-grid .card li img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.games-grid .card li .info {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 20px;
}

.games-grid .card li .info p {
  margin-bottom: 12.5px;
}

.games-grid .card li .info button {
  background-color: #f5c518;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px;
  text-align: center;
  font-size: 18px;

  border-radius: 8px;
  border: 2px solid #fad653;
  cursor: pointer;

  transition: 200ms;
  outline: none;

}

.games-grid .card li .info button:hover {
  background-color: #fad653;
  border: 2px solid #f5c518;
}

.games-grid .card li .info button img {
  height: 25px;
  width: 25px;
}