:root {
  --primary-color: #f5c518;
  --soft-white: rgb(218, 218, 218);
  --placeholder-color: #495055;
}

.login-form {
  height: 80vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form form {
  height: 60%;
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: black;
  box-shadow: 0px 0px 10px var(--primary-color);
  border-radius: 8px;

  margin: 0 auto;
}

.login-form form .username-field,
.login-form form .password-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-form form label {
  font-size: 18px;
  color: var(--soft-white);
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 300px;
  height: 25px;

  max-width: 100%;

  font-size: 16px;

  background-color: black;
  color: var(--soft-white);

  border: 1px solid var(--primary-color);
  border-radius: 8px;

  margin: 5px auto 30px;
  padding: 10px;

  outline:none;
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder {
  color: var(--placeholder-color);
} 

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  box-shadow: 0px 0px 15px var(--primary-color);
}

.login-form input[type="submit"] {
  width: 40%;

  background-color: black;
  color: var(--soft-white); 

  padding: 10px;
  margin: 20px auto;

  text-align: center;
  font-size: 18px;

  border-radius: 8px;
  border: 1px solid var(--primary-color);
  color: var(--soft-white);

  cursor: pointer;
  transition: 400ms;
  outline: none;
}

.login-form input[type="submit"]:hover {
  color: black;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
}