nav {
  position: fixed;
  width: 95%;

  background-color: #121212;
  color: #f5c518;
  font-size: 24px;

  padding: 30px 60px;
  align-items: center;
  text-align: center;

  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  list-style: none;
  
}

nav li a {
  display: inline-block;
  color: #f5c518;
  padding: 5px 8px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  
  transition: 400ms;
}

.search-box {
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 0px 7px #f5c518;
}

.search-box input {
  color: white;
  background-color: transparent;
  font-size: 20px;
  
  /* width: 500px; */
  width: max-content;
  height: 40px;
  padding: 10px;
  
  border: none;
  border-radius: 8px;

  transition: 200ms;
  outline: none;
}

.search-box button {
  background-color: transparent;
  border: none;
  
  height: 40px;
  
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.search-box button img {
  margin-right: 10px;
  height: 24px;
  width: 24px;
}


nav li a img {
  margin-right: 6px;
  align-items: center;
  width: 24px;
  height: 24px;
}

nav li a:hover {
  transform: translateY(-5px);
  text-decoration: none;
}