:root {
  --primary-color: #f5c518;
  --soft-white: rgb(218, 218, 218)
}

#main {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

h1 {
  color: var(--soft-white);
  text-align: center;
}

.selected-games .card li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 550px;
  max-height: 110px;
  
  background-color: black;
  color: var(--soft-white);
  padding-right: 15px; 
  /* ou margin-right botao; */
  
  margin: 20px 0;
  border-radius: 20px;
}

.selected-games .card li img {
  height: 110px;
  width: 15%;
}

.selected-games .card li button,
.shopping-cart .subtotal button {
  background-color: black;
  color: var(--soft-white);

  padding: 8px;
  /* margin-right: 15px; */

  text-align: center;
  font-size: 18px;

  border-radius: 8px;
  box-shadow: 0px 0px 15px var(--primary-color);

  border: 2px solid #fad653;
  cursor: pointer;

  transition: 400ms;
  outline: none;
}

.selected-games .card li button:hover,
.shopping-cart .subtotal button:hover {
  color: black;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 30px var(--primary-color);
}

.shopping-cart .subtotal {
  box-shadow: 0px 0px 5px var(--primary-color);
  color: var(--soft-white);
  background-color: black;

  width: 400px;
  max-width: 400px;
  min-height: 260px;
  padding: 40px;

  font-size: 20px;
  text-align: center;

  margin-top: 20px;
}

.shopping-cart .subtotal p {
  margin: 10px 0;
}

.shopping-cart .subtotal hr {
  margin: 25px 0;
}

.shopping-cart .subtotal #total {
  font-size: 32px;
  font-weight: bold;
}

.shopping-cart .subtotal button {
  margin-top: 20px;
}

footer {
  border-top: 0.5px solid var(--primary-color);
  padding: 10px;
  
  text-align: center;
}